body { background: url(../images/bg.gif) }
#heartspace { height: 469px; background: url(../images/heartspace.gif) no-repeat; } 
#siteheader { height: 128px; background: url(../images/header.gif) no-repeat; }

#tmwlmamas { margin-left: 45px; margin-top: 175px; }

#tmwl { background: #ffffff; padding-top: 20px; padding-bottom: 20px; }

.instructions .wrapper, .twitter .wrapper { width: 438px; margin-top: -5px; margin-bottom: 30px; padding: 10px; border: 1px solid #ddcee5; }

.facebook .fbplugin, .team ul, .blog ul, .partners ul { width: 198px; padding: 10px; margin-bottom: 30px; }
.facebook .fbplugin {border: 1px solid #ddcee5; }

/* add hovers to mama thumbs */

/* Twitter feed styles */

.juitterAvatar{
  float:left;
  margin:0 10px 0 0px;
}
#twitterFeed img{
  width:35px;
  height:35px;
}
#twitterFeed a{
  color:#f36b22;
  font-weight:bold;
}
#twitterFeed hr{
  background:url("../images/twitter_border.jpg") no-repeat scroll left top transparent;
  border:medium none;
  height:16px;
  margin:0;
}
#twitterFeed #twittLI3 hr{
  display:none;
}

/* We <3 our team box styles */

#volunteers img{
  width:45px;
  height:45px;
}
#volunteers{
  /*padding:4px 0 6px 20px*/;
  /*background:url("../images/twitter_border.jpg") no-repeat scroll center bottom transparent*/;
}
#volunteers ul{
  overflow:hidden;
}
#volunteers li{
  float:left;
  margin:0 0 5px 8px;
}
#volunteers span{
  display:block;
  font-size:10px;
  margin:4px 0 0 0;
}
#social_mob{
  width:192px;
  height:160px;
  /*border:1px solid #999999;*/
  overflow-y:auto;
  /*margin:7px 0 0 17px*/;
}
#social_mob li{
  padding:0 0 0 5px;
  margin:3px 0;
}
#social_mob li img{
  margin: 0pt 0pt 5px 8px;
}
#social_mob a{
  color:#f36b22;
  font-weight:bold;
  text-decoration:none;
}


#search-text{
	margin-top:10px;
	float:left;
	clear:none;
	margin-left:10px;
}

#search-button{
	margin-top:5px;
	margin-left:-10px;
	float:left;
}

/* jCarousel Styles */

.ui-tabs .ui-tabs-panel {
padding:0 !important;
}
/*
.jcarousel-skin-ie7 .jcarousel-container {
    -moz-border-radius: 10px;
    background: #D4D0C8;
    border: 1px solid #808080;
}
*/
.jcarousel-skin-ie7 .jcarousel-container-horizontal {
    width: 460px;
    padding: 0 30px;
}

.jcarousel-skin-ie7 .jcarousel-clip-horizontal {
    width:  460px;
    height: 355px;
}

.jcarousel-skin-ie7 .jcarousel-item {
    width: 455px;
    height: 355px;
    border: 1px solid #fff;
}

.jcarousel-skin-ie7 .jcarousel-item:hover {
    border-color: #808080;
}

.jcarousel-skin-ie7 .jcarousel-item-horizontal {
    margin-right: 7px;
}

.jcarousel-skin-ie7 .jcarousel-item-placeholder {
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-ie7 .jcarousel-next-horizontal {
    position: absolute;
    top: 175px;
    right: 0px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(arrow-RHS.png) no-repeat 0 0;
}

.jcarousel-skin-ie7 .jcarousel-next-horizontal:hover,
.jcarousel-skin-ie7 .jcarousel-next-horizontal:active,
.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal,
.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background: transparent url(arrow-RHS-hover.png) no-repeat 0 0;
}

.jcarousel-skin-ie7 .jcarousel-prev-horizontal {
    position: absolute;
    top: 175px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(arrow-LHS.png) no-repeat 0 0;
}

.jcarousel-skin-ie7 .jcarousel-prev-horizontal:hover,
.jcarousel-skin-ie7 .jcarousel-prev-horizontal:active,
.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background: transparent url(arrow-LHS-hover.png) no-repeat 0 0;
}

/* POST (Heartspace) page styles */


#tab-words, #tab-videos, #tab-images{
	height: 380px;
}

#tab-words{
	padding: 5px 10px;
	overflow: auto;
}

#tab-videos{
	padding: 5px 5px;
	overflow: none;
}

#tab-images{
	padding: 5px 5px;
	overflow: none;
}

.donationName, .donationAmount {

  font: bold 16px helvetica, arial, sans-serif;

}

.createdBy, .createdFor, .totalAmount {

    margin-top: 0px;

    color: #fff;

    font: normal 1.3em Georgia, palatino, serif;

    text-shadow: 0 0 0.2em #f0f7b5, 0 0 0.2em #f0f7b5, 0 0 0.2em #f0f7b5;

}

.createdText {

  font: bold 12px helvetica, arial, sans-serif;



    color:white;

    text-shadow: 0 0 0.2em #f0f7b5;

}

/* PAYMENT */

#payment-container { width: 960px; margin: 0 auto; background: #fff url(green-background-tile.jpg); text-align: left;}

#payment-instructions, #paypalForm { background: #fff; padding: 10px; width: 905px; margin: 0 auto; }

  #payment-instructions, #paypalForm, #paypalForm table { font: normal 13px/1.4 helvetica, arial, verdana; color: #7a4399; }

  #payment-instructions form table { font-size: 12px; }

#payment-instructions p {
	padding: 5px 0px;
	}

#paypalForm table { float: left; width: 400px; }

#paypalForm div { float: right; width: 300px; margin-right: 100px; text-align:center; }

#steps { text-align:center; width: 930px; margin: 0 auto; }